# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

* - expression (Mathematical operator)
'hello' - values (String)
-87.8 - values (integer)
- expression (Mathematical operator)
/ expression (Mathematical operator)
6 values (integer)

# 2. What is the difference between string and variable?

varibale is something we can store data.
For variable we can assign the value to it

strings can be considered as data.
we can declare string as a variable.
for that we need to declare as below

a="India"
here "a" is a varibale
"India" is a string and it us the data which is stored in a

# 3) Describe three different data types.

1) Numeric data types
2) String data types
3) Sequence data types
4) Boolean 
5) Dictonary
6) Binary types

1) Numeric data types

    int- integer, which are integers/numbers like 1,2,3,1000
    float- floating points, which are decimal values like 12.5, 44.1, 10.0
    complex- used to call complex numbers, 4+8j, Real part + imajinary part

2) String data types
    str- string, which are characters "Arun", "b", "India"

3) Sequence data types
    used to store list of elements
    List, tuples, set
    
4) Boolean
 True, False
 
5) Dictonary
 dict- used to store key value pair
 "key01": "cricket", "runs":25000,  
 
6) Binary types

# 4. What is an expression made up of? What do all expressions do?

Expression is a combination of operators and operands.
Expression produce some values/results
eg: 
    x=5
    y=25
    x+y #expression which produce a values

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

spam =10 is a statement, which is delcaring a varibale called spam

Expression is used to produce value.
Statemnet is used to declare varibale or to display some values

# 6. After running the following code, what does the variable bacon contain?
bacon = 22

bacon + 1

bacon = 22
bacon+1 # just adding 1 and not reassiging any valye to becon
print(bacon) #print only 22

varibale bacon contains value 22
if we want to store bacon as 23 means we should write bacon=bacon+1

# 7. What should the values of the following two terms be?
'spam' + 'spamspam'

'spam' * 3

In [23]:
'spam' + 'spamspam'

'spamspamspam'

In [19]:
'spam' * 3

'spamspamspam'

both gives the same resuslt "spamspamspam"

# 8. Why is eggs a valid variable name while 100 is invalid?

eggs is string datatype, string can be used as varibale for assigning data.
100 is an integer/numeric datatypes which cannot store any data or cannot be used as a varibale
Variable names cannot begin with a number.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

int() - integer
float()- floating point
str ()- string

# 10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

'I have eaten ' + 99 + ' burritos.'
we can concatenate only tring not integer direclty.
we can convert 99 to str by "99" and concatenate wit the statement as below

In [38]:
'I have eaten ' + "99" + ' burritos.'

'I have eaten 99 burritos.'